---
import FormattedDate from '../components/FormattedDate.astro';
import { Icon } from 'astro-icon/components';
import type { BlogPost } from '../utils/getPosts';

type Props = {
	tag?: {
		name: string;
	};
	posts: BlogPost[];
};

const { posts, tag } = Astro.props;
---

<main>
	<section>
		{
			tag && (
				<>
					<div class="info">
						Posts with tag <b>{tag.name}</b>
					</div>
				</>
			)
		}
		<ul>
			{
				posts.map((post) => (
					<li>
						<div class="head">
							<h4 class="title">
								<a href={`/blog/${post.id}/`}>{post.data.title}</a>
							</h4>

							<div class="meta">
								<span class="inline-container">
									<Icon name="fa6-solid:calendar" />
									<FormattedDate date={post.data.pubDate} />
								</span>

								<span class="inline-container">
									<Icon name="fa6-solid:stopwatch" />
									<span>
										{Math.round(post.readingTime.minutes)} minutes to
										read ({post.readingTime.words} words)
									</span>
								</span>
							</div>
						</div>

						<div class="body">
							{/* <img
									width={720}
									height={360}
									src={post.data.heroImage.src}
									alt=""
								/> */}
							<span class="description">{post.previewText}</span>
						</div>

						<a href={`/blog/${post.id}/`}>Read post</a>
					</li>
				))
			}
		</ul>
	</section>
</main>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.head {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
	}

	.meta {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		font-size: 0.9em;
		color: #626262;
	}

	.body {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.body img {
		max-width: 200px;
		border-radius: 0;
		height: fit-content;
		object-fit: cover;
	}

	.info {
		padding: 1rem;
		border-radius: 8px;
		background-color: #f3fdff;
		border: 1px solid #d4efff;
	}
</style>
