---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { fromMarkdown } from 'mdast-util-from-markdown';
import { visit } from 'unist-util-visit';
import { Icon } from 'astro-icon/components';
import getReadingTime from 'reading-time';
import BaseLayout from '../../layouts/BaseLayout.astro';

const getPostPreviewText = (text: string) => {
	const tree = fromMarkdown(text);

	let previewText: string | null = null;
	visit(tree, 'paragraph', (paragraph) => {
		if (previewText !== null) return;

		const texts: string[] = [];
		visit(paragraph, 'text', (node) => {
			texts.push(node.value);
		});

		if (texts.length > 0) {
			previewText = texts.join('\n\n');
		}
	});

	return previewText;
};

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.map((post) => ({
		...post,
		previewText: post.body ? getPostPreviewText(post.body) : null,
		readingTime: getReadingTime(post.body ?? '', {}),
	}));
---

<BaseLayout>
	<main>
		<section>
			<ul>
				{
					posts.map((post) => (
						<li>
							<div class="head">
								<h4 class="title">
									<a href={`/blog/${post.id}/`}>{post.data.title}</a>
								</h4>

								<div class="meta">
									<span class="inline-container">
										<Icon name="fa6-solid:calendar" />
										<FormattedDate date={post.data.pubDate} />
									</span>

									<span class="inline-container">
										<Icon name="fa6-solid:stopwatch" />
										<span>
											{Math.round(post.readingTime.minutes)} minutes
											to read ({post.readingTime.words} words)
										</span>
									</span>
								</div>
							</div>

							<div class="body">
								{/* <img
									width={720}
									height={360}
									src={post.data.heroImage.src}
									alt=""
								/> */}
								<span class="description">{post.previewText}</span>
							</div>

							<a href={`/blog/${post.id}/`}>Read post</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 5rem;

		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.head {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
	}

	.meta {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		font-size: 0.9em;
		color: #626262;
	}

	.body {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.body img {
		max-width: 200px;
		border-radius: 0;
		height: fit-content;
		object-fit: cover;
	}
</style>
