---
import BaseHead, { type Props as HeadProps } from './BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import links from '../../links';
import { getTagLink } from '../../utils/links';

type Props = {
	meta?: HeadProps;
};

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} {...meta} />

		<style>
			.main {
				max-width: 900px;
				min-height: 100vh;
				margin: auto;

				display: flex;
				flex-direction: column;
				gap: 1rem;
			}

			.head {
				padding: 1em;
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}

			.footer {
				margin-top: auto;
			}

			.head-row {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				justify-content: center;
				flex-wrap: wrap;
			}

			.body {
				padding: 1em;
			}
		</style>
	</head>

	<body>
		<div class="main">
			<div class="head">
				<div class="head-row">
					{
						links.head.map((link) => (
							<a href={link.url} target={link.target} title={link.title}>
								{link.text}
							</a>
						))
					}
				</div>
			</div>

			<div class="body">
				<slot />
			</div>

			<div class="head footer">
				<div class="head-row">
					{
						links.socials.map((link) => (
							<a href={link.url} target={link.target} title={link.title}>
								{link.text}
							</a>
						))
					}
				</div>
			</div>
		</div>
	</body>
</html>
